@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 style="color:aqua"><b>National Bank of Uzbekistan</b></h1>
	<p style="color: darkblue"><i>We are happy to help our <span class="highlight", style = "color:yellowgreen">customers!</span></i></p>
	<style>
		body {
			background-image: url("https://pbs.twimg.com/media/DuT2AY_XcAsdvKL?format=jpg&name=large");
			background-repeat: no-repeat;
			background-size: cover;
		}
	</style>
</div>